*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 33px 9%;
 }

 .logo{
    position: relative;
  }
 
  .logo-name{
     display: none;
     color: #ffffff;
     font-size: 20px;
     font-style: italic;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }
  
 
 .logo img{
    width: 150px;
 }

 header.sticky {
    background: linear-gradient(to left, #eecc51, #203c58);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding: 15px 9%;
    color: #fff;
 }
 
 .sticky .logo img{
    display: none;
 }
 
 .sticky.logo-name{
    display: inline;
 }
 
 .sticky .navlist a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
 }
 
 .navlist{
    display: flex;
    z-index: 100000;
 }
 
 .navlist a{
    color: #fff;
    margin-left: 40px;
    font-size: 25px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
 }
 
 
 .navlist a:hover{
    border-bottom: 2px solid #fff;
 }
 
 .dropdown-menu a:hover{
    border-bottom: 2px solid transparent;
 }
 
 .dropdown{
    position: relative;
    display: block;
  }
 
  .dropdown-menu{
    position: absolute;
    list-style: none;
    background: #ffffff;
    position: absolute;
    top: 100%;
    width: 150%;
    display: none;
    transition: 0.2s;
    z-index: 100;
    text-align: justify;
  }
 
 
  .dropdown-menu li:hover {
    background-color: goldenrod;
    transform: scale(1.1);
 }
 
 .dropdown-menu a:hover{
    color: #ffffff;
 }
 
  .dropdown-menu li{
    padding: 0.7em 0.5em;
    cursor: pointer;
    border-top: 1px solid #f3f3f3;
  }
 
  .dropdown-menu li a{
    color: goldenrod;
    font-size: 25px;
    font-weight: 600;
  }
 
  .dropdown:hover .dropdown-menu{
    display: block;
  }

  .intro-span:hover{
    font-family: "Honk", system-ui;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
     "MORF" 15,
     "SHLN" 50;
    transition: .10s ease;
}

#menu-icon{
    color: #fff;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
 }

 /* icn */
 .intro-icn{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translatey(-50%);
    z-index: 100;
 }
 
 .intro-icn i{
    display: block;
    margin: 26px 0px;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
 }
 
 .intro-icn i:hover{
    transform: scale(1.06) rotate(180deg);
 }

 .home{
    overflow: hidden;
 }

  /* carousel */
.carousel{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(10%);
    transition: filter 0.5s ease;
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 40%;
    left: 35%;
    transform: translateX(-50%);
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .author,
.carousel .list .item .title,
.carousel .list .item .topic{
    font-size: 4em;
    font-weight: 800;
    line-height: 1em;
    color: goldenrod;
}

.carousel .list .item .des{
    padding: 30px 0 0 0;
    font-size: 20px;
}

.carousel .list .item .buttons button{
    border: none;
    background-color: transparent;
    letter-spacing: 3px;
    font-family: 'Darker Grotesque';
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    color: #fff;
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 50px;
    border: 1px solid #fff;
}

.carousel .list .item .buttons button:hover{
    color: #fff;
    background-color: rgba(218, 165, 32, 1);
    transform: translateX(17px);
    border: 1px solid rgba(218, 165, 32, 1);
}

/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 600;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #004732;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

/* story */
.story {
    background-color: #f8f8f8;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ctn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    width: 380px;
    text-align: left;
}

.content h1{
    font-size: 35px;
    font-weight: 800;
    color: goldenrod;
}


.content h2{
    font-size: 30px;
    font-weight: 800;
}

.content p{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.icn {
    display: grid;
    text-align: center;
    place-items: center;
    padding: 20px 0px 0px;
    width: 220px;
}

.icn img {
    width: 66px;
    height: 66px;
    z-index: 3;
}

.img-nb h3 {
    margin-top: 10px;
    z-index: 2;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}
.img-ctn{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.img-nb{
    z-index: 1;
    background: white;
    position: relative;
    margin-bottom: 30px;
    padding: 20px 15px 20px 15px;
    -webkit-box-shadow: 10px 0 60px rgba(26, 36, 40, 0.07);
    box-shadow: 10px 0 60px rgba(26, 36, 40, 0.07);
    height: 180px;
}

.number{
    top: 5px;
    z-index: -1;
    right: 20px;
    opacity: 0.07;
    line-height: 1;
    font-weight: 700;
    font-size: 200px;
    color: transparent;
    position: absolute;
    -webkit-text-stroke: 1px;
    font-family: "UTM Avo", sans-serif;
    -webkit-text-stroke-color: black;
}

.story-btn{
    border: none;
    background-color: #000;
    letter-spacing: 3px;
    font-family: 'Darker Grotesque';
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    color: #fff;
    padding: 10px 40px;
    font-size: 15px;
    margin-top: 40px;
}

.story-btn:hover{
    background-color: rgba(218, 165, 32, 0.5);
    color: #fff;
    transform: scale(1.1);
}

/* about */
.about{
    background-color: #f8f8f8;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
}

.abt-content{
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 351.5px;
}

.abt-content h1{
    font-size: 45px;
    font-weight: 800;
    color: goldenrod;
    text-align: right;
}

.abt-content h2{
    font-size: 30px;
    font-weight: 800;
    text-align: left;
}

.abt-ctn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 351.5px;
}

.abt-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.abt-icn {
    display: grid;
    grid-template-columns: 80px 130px;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background: #ffffff;
    padding: 20px;
    position: relative;
}

.abt-icn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    opacity: 50%;
    background: goldenrod;
    transition: width 1s;
    border: 1px solid goldenrod;
}

.abt-icn:hover::before {
    width: 100%;
    animation: fillWidth 1s forwards;
}

.abt-ctn img{
    width: 60px;
    height: 60px;
    justify-self: center;
    z-index: 1000;
}

.abt-ctn h3{
   font-size: 25px;
   text-align: left;
   z-index: 1000;
}

.abt-vid{
    justify-self: right;
}

.abt-vid iframe{
    width: 560px;
    height: 315px;
 }

 .abt-btn{
    border: none;
    background-color: #000;
    letter-spacing: 3px;
    font-family: 'Darker Grotesque';
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    color: #fff;
    padding: 10px 40px;
    font-size: 15px;
    margin-top: 40px;
}

.abt-btn:hover{
    background-color: rgba(218, 165, 32, 0.5);
    color: #fff;
    transform: scale(1.1);
}

/* Product */
.product{
    background-color: #f8f8f8;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
}

/* footer */
footer{
    background-color: #f8f8f8;
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to left, #eecc51, #203c58);
    color: #fff;
    padding: 50px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row-ft{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col-ft{
    flex-basis: 25%;
    padding: 10px;
}

.col-ft:nth-child(2){
    flex-basis: 16%;
}

.col-ft:nth-child(3){
    flex-basis: 15%;
}

.logo-ft{
    width: 150px;
    margin-bottom: 20px;
}

.col-ft h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: 25px;
}

.col-ft p{
    font-size: 14px;
}

.ofe{
    padding-bottom: 15px; 
    display: grid;
    grid-template-columns: 20px 200px;
 }

 .ofe i{
    align-self: center;
 }

.col-ft ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 222px;
}

.col-ft ul li{
    list-style: none;
    margin-bottom: 12px;
}

.col-ft ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 14px;
}

.col-ft ul li:hover{
    transform: translate(10px) scale(1.2);
    transition: .3s;
}

form{
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 1px solid #fff;
   padding: 20px;
   margin-bottom: 30px;
}

form .ri-mail-line{
    font-size: 20px;
    margin-right: 10px;
}

form input{
    width: 100%;
    background: transparent;
    color: #ffffff;
    border: 1px solid;
    outline: none;
    padding: 5px;
}

form input:hover{
    transform: scale(2) translateX(-30%);
    transition: 0.5s;
    background: #ffffff;
    border: none;
    color:#000;
 }

form button{
    padding-left: 8px;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .ri-send-plane-2-line{
    font-size: 20px;
    color:#fff;
}

.social-icn-ft{
    text-align: center;
}

.social-icn-ft i{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    margin-right: 15px;
    transition: all .50s ease;
}

.social-icn-ft i:hover{
    transform: rotate(180deg);
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #fff;
    margin: 10px auto;
}

.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 1px;
    background: #ccc;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 3s linear infinite;
}

@keyframes fillWidth {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 80%;
    }
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media (max-width:1600px){
    .intro-icn{
        display: none;}
}

@media (max-width:1400px){
    .carousel .list .item .content{
        padding-right: 0;
        max-width: 30%;
        left: 20%;
    }
    .carousel .list .item .content .author,
    .carousel .list .item .content .title,
    .carousel .list .item .content .topic{
        font-size: 35px;
    }
    .carousel .list .item .buttons button{
        border: none;
        background-color: transparent;
        letter-spacing: 1px;
        font-family: 'Darker Grotesque';
        font-weight: bold;
        width: fit-content;
        height: fit-content;
        color: #fff;
        padding: 5px 15px;
        font-size: 20px;
        margin-top: 15px;
        border: 1px solid #fff;
    }

    .col-ft{
        flex-basis: 25%;
    }

    .col-ft:nth-child(2), .col-ft:nth-child(3){
        flex-basis: 20%;
    }

    .abt-content{
        margin: 0 120px;
    }

    .abt-ctn{
        margin: 0 auto;
    }
 }


@media (max-width:990px){
    #menu-icon{
       display: block;
    }
    .navlist{
       position: absolute;
       top: 100%;
       right:-100%;
       width: 200px;
       background: #ffffff;
       display: flex;
       align-items: center;
       flex-direction: column;
       padding: 50px 20px;
       transition: all .55s ease;
    }
    .navlist a{
       display: block;
       color: #004732;
       margin: 10px 0;
       margin-left: 0;
    }
    .dropdown-menu{
       transform: translateX(-200px) translateY(-20px) ;
    }
 
    .navlist a:hover{
       border-bottom: 2px solid #004732;
    }
 
    .navlist.open{
       right: 0;
    }

    .ctn{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .story .ctn .content {
        width: 480px;
        text-align: center;
    }    

    .image{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .img-nb{
        width: 300px;
    }

    .icn{
        width: 270px;
    }

    .abt-content{
        text-align: center;
        margin: 0 213.5px;
    }

    .abt-ctn{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
 }
 
 @media (max-width: 850px){
    footer{
        bottom: unset;
    }
    .col-ft{
        flex-basis: 100%;
    }
    .col-ft:nth-child(2), .col-ft:nth-child(3){
        flex-basis: 100%;
    }
 }

 @media screen and (max-width: 678px) {
    .carousel .list .item .content{
        width: 1140px;
        max-width: 80%;
        left: 50%;
        padding-right: 0%;
    }
    .carousel .list .item .content .author,
    .carousel .list .item .content .title,
    .carousel .list .item .content .topic{
        font-size: 30px;
    }
    .carousel .list .item .buttons button{
        border: none;
        background-color: transparent;
        letter-spacing: 1px;
        font-family: 'Darker Grotesque';
        font-weight: 400;
        width: fit-content;
        height: fit-content;
        color: #004732;
        padding: 5px 15px;
        font-size: 20px;
        margin-top: 30px;
        border: 1px solid #fff;
    }
    .thumbnail .item{
        width: 120px;
        height: 155px;
        flex-shrink: 0;
        position: relative;
    }
    .thumbnail .item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .thumbnail .item .content{
        color: #fff;
        position: absolute;
        bottom: 5px;
        left: 5px;
        right: 5px;
    }
    .thumbnail .item .content .title{
        font-weight: 400;
    }
    .thumbnail .item .content .description{
        font-weight: 200;
    }
    .ctn{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .story .ctn .content {
        width: 400px;
        text-align: center;
    }    

    .image{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .img-nb{
        width: 260px;
    }

    .icn{
        width: 230px;
    }
}

@media screen and (max-width: 560px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .author,
    .carousel .list .item .content .title,
    .carousel .list .item .content .topic{
        font-size: 25px;
    }
    .carousel .list .item .content .des{
        font-size: 14px;
    }
    .carousel .list .item .buttons button{
        border: none;
        background-color: transparent;
        letter-spacing: 1px;
        font-family: 'Darker Grotesque';
        font-weight: 400;
        width: fit-content;
        height: fit-content;
        color: #fff;
        padding: 5px 15px;
        font-size: 14px;
        margin-top: 30px;
        border: 1px solid #fff;
    }
    .thumbnail .item{
        width: 120px;
        height: 155px;
        flex-shrink: 0;
        position: relative;
    }
    .thumbnail .item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .thumbnail .item .content{
        color: #fff;
        position: absolute;
        bottom: 5px;
        left: 5px;
        right: 5px;
    }
    .thumbnail .item .content .title{
        font-weight: 300;
    }
    .thumbnail .item .content .description{
        font-weight: 100;
    }

    .ctn{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .story .ctn .content {
        width: 300px;
        text-align: center;
    }

    .story .ctn .content h1{
        font-size: 25px;
    }

    .story .ctn .content h2{
        font-size: 20px;
    }

    .story .ctn .content p{
        font-size: 14px;
    }

    .image{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .img-nb{
        width: 220px;
    }

    .icn{
        width: 190px;
    }

    .abt-content{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .abt-content h2{
        justify-content: center;
        text-align: center;
        width: 300px;
    }

    .abt-content h1{
        justify-content: center;
        text-align: center;
        width: 300px;
    }

    .abt-img{
        display: grid;
        grid-template-columns: 1fr;
    }

    .abt-vid iframe{
        width: auto;
        height: auto;
    }

    footer{
        bottom: unset;
    }
    .col-ft{
        flex-basis: 80%;
    }
    .col-ft:nth-child(2), .col-ft:nth-child(3){
        flex-basis: 100%;
    }
    hr{
        width: 80%;
    }
    form input:hover{
        transform: scale(2);
        transition: 0.5s;
        background: #ffffff;
        border: none;
        color:#000;
     }
    .abt-btn{
        margin-top: 0px;
    }
    .abt-vid{
        margin-top: 20px;
    }
    .abt-content h2{
        font-size: 25px;
    }
    .about, .story{
        padding: 50px;
    }
 }

 /* Product page */
 .pd {
    overflow: hidden;
}

.pd-vid {
    position: relative;
}

.pd-vid video {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(30%);
}

.pd-vid h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white; /* Màu chữ của tiêu đề */
    font-size: 72px; /* Cỡ chữ của tiêu đề */
    /* Các thuộc tính CSS khác tùy chỉnh theo nhu cầu của bạn */
}

 .pdk{
    padding: 8% 15%;
    position: relative;
    height: 120vh;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: cornsilk;
 }

 .pdk-ctn h1{
    font-size: 50px;
    color: #203c58;
    font-weight: 700;
 }

 .pdk-ctn{
    width: 100%;
    display: flex;
    gap: 560px;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
    margin: 0 auto;
    padding: 10px;
}

.pdk-box{
    height: 100px;
    width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: palegoldenrod;
    color: #203c58;
    cursor: pointer;
    flex-direction: column;
}

.pdk-box:nth-child(2){
    margin: 0 10px 0 10px;
}

.pdk-box:hover{
    background-color: #203c58;
}

.pdk-box h1{
    font-size: 20px;
    font-weight: bold;
    color:  #203c58;
}

.pdk-box h1:hover{
    color: goldenrod;
}

.pdk-box img{
    height: 50px;
    max-width: 100%;
}

.pdk-box.active {
    border: 2px solid #203c58;
}

.pdk hr{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #203c58;
    margin: 10px auto;
}

.pdk-show{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
 }      
 .pdk-show:not(#content1) {
    display: none;
}

 .pdk-img{
    justify-self: right;
 }

.pdk-img img{
    width: 100%;
    object-fit: contain;
}

.pdk-txt h1{
    font-size: 46px;
    font-weight: bold;
    color: goldenrod;
    line-height: 1.1;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.pdk-txt p{
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #000;
}

.pdk-txt h5{
    font-size: 37px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 35px;
}

.pdk-btn .btn{
    display: inline-block;
    padding: 15px 20px;
    color: goldenrod;
    background: #203c58;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 20px;
    transition: all .5s ease;
}

.pdk-btn .btn:hover{
    background: goldenrod;
    color: #203c58;
}

.pdk-btn .btn2{
    display: inline-block;
    color: #203c58;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid #203c58;
    transition: all .5s ease;
}

.pdk-btn .btn2:hover{
    color: goldenrod;
    transform: scale(1.1) translateY(-6px);
    border-bottom: 2px solid goldenrod;
}

.mdg {
    padding: 8% 15%;
    position: relative;
    height: 120vh;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 1fr;
    align-items: center;
}

.mdg-ctn h1 {
    font-size: 50px;
    color: #203c58;
    font-weight: 700;
}

.mdg-ctn{
    width: 100%;
    display: flex;
    gap: 560px;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
    margin: 0 auto;
    padding: 10px;
}

.mdg-box{
    height: 100px;
    width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: palegoldenrod;
    color: #203c58;
    cursor: pointer;
    flex-direction: column;
}

.mdg-box:nth-child(2){
    margin: 0 10px 0 10px;
}

.mdg-box:hover {
    background-color: #203c58;
}

.mdg-box h1 {
    font-size: 20px;
    font-weight: bold;
    color: #203c58;
}

.mdg-box h1:hover {
    color: goldenrod;
}

.mdg-box img {
    height: 50px;
    max-width: 100%;
}

.mdg-box.active {
    border: 2px solid #203c58;
}

.mdg hr {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #203c58;
    margin: 10px auto;
}

.mdg-show {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
}

.mdg-show:not(#contentt1) {
    display: none;
}

.mdg-img {
    justify-self: right;
}

.mdg-img img {
    width: 100%;
    object-fit: contain;
}

.mdg-txt h1 {
    font-size: 46px;
    font-weight: bold;
    color: goldenrod;
    line-height: 1.1;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.mdg-txt p {
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #000;
}

.mdg-txt h5 {
    font-size: 37px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 35px;
}

.mdg-btn .btn {
    display: inline-block;
    padding: 15px 20px;
    color: goldenrod;
    background: #203c58;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 20px;
    transition: all .5s ease;
}

.mdg-btn .btn:hover {
    background: goldenrod;
    color: #203c58;
}

.mdg-btn .btn2 {
    display: inline-block;
    color: #203c58;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid #203c58;
    transition: all .5s ease;
}

.mdg-btn .btn2:hover {
    color: goldenrod;
    transform: scale(1.1) translateY(-6px);
    border-bottom: 2px solid goldenrod;
}


.kbb {
    padding: 8% 15%;
    position: relative;
    height: 120vh;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: cornsilk;
}

.kbb-ctn h1 {
    font-size: 50px;
    color: #203c58;
    font-weight: 700;
}

.kbb-ctn{
    width: 100%;
    display: flex;
    gap: 560px;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
    margin: 0 auto;
    padding: 10px;
}

.kbb-box{
    height: 100px;
    width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: palegoldenrod;
    color: #203c58;
    cursor: pointer;
    flex-direction: column;
}

.kbb-box:nth-child(2){
    margin: 0 10px 0 10px;
}

.kbb-box:hover {
    background-color: #203c58;
}

.kbb-box h1 {
    font-size: 20px;
    font-weight: bold;
    color: #203c58;
}

.kbb-box h1:hover {
    color: goldenrod;
}

.kbb-box img {
    height: 50px;
    max-width: 100%;
}

.kbb-box.active {
    border: 2px solid #203c58;
}

.kbb hr {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #203c58;
    margin: 10px auto;
}

.kbb-show {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
}

.kbb-show:not(#contenttt1) {
    display: none;
}

.kbb-img {
    justify-self: right;
}

.kbb-img img {
    width: 100%;
    object-fit: contain;
}

.kbb-txt h1 {
    font-size: 46px;
    font-weight: bold;
    color: goldenrod;
    line-height: 1.1;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.kbb-txt p {
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #000;
}

.kbb-txt h5 {
    font-size: 37px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 35px;
}

.kbb-btn .btn {
    display: inline-block;
    padding: 15px 20px;
    color: goldenrod;
    background: #203c58;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 20px;
    transition: all .5s ease;
}

.kbb-btn .btn:hover {
    background: goldenrod;
    color: #203c58;
}

.kbb-btn .btn2 {
    display: inline-block;
    color: #203c58;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid #203c58;
    transition: all .5s ease;
}

.kbb-btn .btn2:hover {
    color: goldenrod;
    transform: scale(1.1) translateY(-6px);
    border-bottom: 2px solid goldenrod;
}

